<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_item_set_product">
        <observer name="product_set_pre_order_note" instance="Acidgreen\PreOrder\Observer\SetPreOrderNote"/>
    </event>
</config>